.wrap{
    display:inline-block;
    position: relative;
  }
  .button{
      background: pink;
      padding: 10px;
      font-size: 16px;
  }
  .float{
    border: 1px solid red;
    white-space: nowrap;
    padding: 15px;
    margin-left: 10px;
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    border-radius: 5px;
  }
  .active{
    display: block;
  }
  .float::before{
    position: absolute;
    top: 5px;
    left: -10px;
    content: '';
    display: block; 
    border: 11px solid transparent;
    width: 0px;
    border-right: 10px solid red;
    border-left-width: 0px;
  }
  .float::after{
    position: absolute;
    top: 5px;
    left: -9px;
    content: '';
    display: block; 
    border: 11px solid transparent;
    width: 0px;
    border-right: 10px solid #fff;
    border-left-width: 0px;
  }